
.text1{
	position: absolute;
	top: -60px;
	left: 150px;
	font-family: URW Chancery L, cursive;
	font-weight: 900;
	font-size: 70px;
	color: #ff4d4d;
}

.content{
	position: relative;
	left: 60px;
}

