 .linear_1 {
  width: 200px;
  height: 150px;
  margin: 20px;
  background: linear-gradient(145deg, #ee82ee, #92009b 20%, #f5e944 50%, #00ffa2);
          /*  transition: all 1s linear;
         -webkit-transition: all 1s linear;
        -o-transition: all 1s linear;
        -moz-transition: all 1s linear;*/
  transition: all 0.2s;
    }

.linear_1:hover{
  background: linear-gradient(145deg, #000000, #92009b 20%, #f5e944 50%, #ff0000, #000000);
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  }
		


 .linear_new {
    width: 400px;
    height: 350px;
    margin: 10px;
    overflow:hidden;
  	display:block;
  	}
	
  .linear_new img{
    transition: all 1s ease-out;
  	max-width: 100%;
    height: 350px;
    width: auto;
  	cursor:pointer;
  		}
		
  .linear_new img:hover{
  	 transform: scale(1.1);
  		}



   .focus {
      width: 300px;
      overflow:hidden;
      display:block;
		      }

   .focus img {
      width: 400px;
   	            }

    .focus:hover {
     border: 6px double #FF0000;
     border-top: 6px dotted #FDD201;
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
     margin-left:10px;
     }

