 .linear_1 {
  width: 200px;
  height: 150px;
  margin: 20px;
  background: linear-gradient(145deg, #ee82ee, #92009b 20%, #f5e944 50%, #00ffa2);
  transition: all 0.2s;
    }

.linear_1:hover{
  background: linear-gradient(145deg, #000000, #92009b 20%, #f5e944 50%, #ff0000, #000000);
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  }
	


 .linear_new {
    width: 400px;
    height: 350px;
    margin: 10px;
    overflow:hidden;
  	display:block;
  	}
	
  .linear_new img{
    transition: all 1s ease-out;
  	max-width: 100%;
    height: 350px;
    width: auto;
  	cursor:pointer;
  		}
		
  .linear_new img:hover{
  	 transform: scale(1.1);
  		}



   .focus {
      width: 300px;
      overflow:hidden;
      display:block;
		      }

   .focus img {
      width: 400px;
	   	            }

    .focus:hover {
     border: 6px double #FF0000;
     border-top: 6px dotted #FDD201;
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
        }
		


.container{
background-color: rgba(0, 0, 0, 0.18);	
}



.dws-wrapper{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.boxImg{
 position: relative;
 font-family: Cuprum, Arial, Helvetica, sans-serif;
 width: 300px;
 height: 300px;
 border: 5px outset #b7bab7;
 overflow: hidden;
 
 
}
.boxImg img{
 height: 300px;
 transition: .5s;
 padding-left:10px;
 
}
.container{
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 background-color: rgba(0, 0, 0, 0.18);	
}
.container:before, .container:after{
 content: '';
 width: 300px;
 height: 300px;
 position: absolute;
 top: 0;
 left: 0;
 background: #e8e0e0;
 opacity: .1;
 transition: 1s;
}
.container:before{
 transform: translateX(-125%) rotate(45deg);
}
.container:after{
 transform: translateX(195%) rotate(45deg);
}
.text{
 position: absolute;
 top: 50%;
  left: 10px;
 color: #7b7171;
 text-align: center;
 z-index: 10;
}
.text h1{
 margin-bottom: 30px;
 font-size: 30px;
 transform: scale(0);
 transition: .5s;
}
.text p{
 font-size: 20px;
 margin: 0 100px;
 text-align: justify;
 transform: scale(2);
 transition: .5s;
 opacity: 0;
}
a.bt{
 position: absolute;
 top: 100%;
 left: 23%;
 color: #7b7171;
 background-color: #ad9acd;
 text-decoration: none;
 text-transform: uppercase;
 border: 2px solid #ffffff;
 padding:10px 30px;
 border-radius: 8px;
 opacity: 0;
 transition: .2s ease-in-out;
 overflow: hidden;
}
a.bt:before{
 content: '';
 position: absolute;
 top: -8px;
 left: -75px;
 height: 50px;
 width: 50px;
 background: linear-gradient(90deg,rgba(255,255,255,.1), rgba(255,255,255,.5));
 transform: skewX(-45deg);
}

a.bt:hover::before{
 left: 150px;
 transition: .5s ease-in-out;
}
a.bt:active{
 border: 2px solid #b3b3b3;
}
.boxImg:hover img{
 transform: rotate(-30deg) scale(2);
 filter: blur(2px);
}
.boxImg:hover a.bt{
 opacity: 1;
 transition: .5s;
}
.boxImg:hover .container::before{
 transform: translateX(92%) rotate(45deg) scale(2);
 transition: .5s;
 opacity: .6;
}
.boxImg:hover .container::after{
 transform: translateX(-25%) rotate(45deg) scale(2);
 transition: .5s;
 opacity: .6;
}
.boxImg:hover .text h1{
 transform: scale(1);
}
.boxImg:hover .text p{
 transform: scale(1);
 opacity: 1;
}
.boxImg:hover{
 border: 5px inset #b7bab7;
}

