@charset "UTF-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	}
body,html{
	height:100%;
	position:relative;
	}
.for_page{
	position:relative;
	min-height:100%;
	}
body{
	 font-family: 'vidaloka_regular';
	 font-size:14px;
	 color:#000;
	}
.header{
	position:relative;
	z-index:2;
	padding-top: 60px;
	padding-bottom: 48px;
	}

.header .border-header{
	    border-bottom: solid 1px #a8a4a3;
		    padding-bottom: 24px;
	}
/*menu*/
.nav-menu{
	padding-top:18px;
	    display: flex;
    justify-content: center;
	}
.nav-menu ul{
	display:flex;
	}
.nav-menu li{
	list-style:none;
	margin-right:44px;
	}
.nav-menu li:last-child{
	margin-right:0;
	}
.nav-menu li a{
	transition:0.3s;
	color:#fff;
	font-size:13px;
	text-transform:uppercase;
	 padding-bottom: 37px;
	}
.nav-menu li.active a,
.nav-menu li a:hover{
	color:#ffeb3b;
	    text-decoration: none;
    border-bottom: solid 1px #ffeb3b;
    padding-bottom: 37px;
	}
.btn-search{
	font-size:0;
	background:url(../images/search.png) no-repeat;
	background-position:center center;
	width:43px;
	height:37px;
	border:inherit;
	border-left: solid 1px #a8a4a3;
	}

.pole-search{
	display:none;
	}
.form-search{
	padding-top:13px;
	position:relative;
	}
.btn_menu{
	display:none;
	}
/*menu*/

/*baner1*/
.banner-home{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	 width: 100%;
	background:url(../images/fone-home.jpg) no-repeat;
	background-size:cover;
	background-position: center center;
	    padding-top: 262px;
    padding-bottom: 10px;
	}
#next-slider .owl-item .item h2{
	text-align:center;
	font-family: 'back_to_black_demoregular';
	font-size:110px;
	color:#fff;
	}
#next-slider .owl-item .item div{
	font-size:280px;
	}
.owl-theme .owl-dots .owl-dot {
    outline: none;
}
#next-slider .owl-nav .owl-prev{
	outline:none;
	background:url(../images/arrow_prev.png) no-repeat;
	    height: 13px;
    width: 8px;
    position: absolute;
    left: 0%;
    top: 50%;

	}
#next-slider .owl-nav .owl-next:hover,
#next-slider .owl-nav .owl-prev:hover{
	opacity:0.6;
	}
#next-slider .owl-nav .owl-next{
	outline:none;
	background:url(../images/arrow_next.png) no-repeat;
	    height: 13px;
    width: 8px;
    position: absolute;
    right: 0%;
    top: 50%;
	}

/*.jumbotron text-center {
	padding-top: 500px;
	padding-bottom: 48px;
	margin-top: 600px;
}

.jumbotron1 {
	padding-bottom: 100px;
	/* margin-bottom: 30px;
	color: inherit;
	background-color: #fff;
}*/


/*baner1*/
/*font-family: 'back_to_black_demoregular';*/